<main class="">
    <h2 class="text-[#0e111b] text-[22px] font-bold leading-tight tracking-[-0.015em] px-2 pb-3 pt-5">Announcements
        &amp; News</h2>
    <div class="p-2">
        <div class="flex flex-col @[850px]:flex-row items-stretch justify-between gap-4 rounded-xl">
            <div class="flex flex-col gap-1 flex-[2_2_0px]">
                <p class="text-[#4e6097] text-sm font-normal leading-normal">Latest News</p>
                <p class="text-[#0e111b] text-base font-bold leading-tight">New Research Grant Awarded to Nuclear Science
                    Faculty</p>
                <p class="text-[#4e6097] text-sm font-normal leading-normal">Dr. Olivia Bennett's team receives funding
                    for groundbreaking research in advanced reactor technology.</p>
            </div>
            <div class="w-full @[850px]:w-1/2 bg-center bg-no-repeat aspect-video bg-cover rounded-xl flex-1 min-h-[120px] @[480px]:min-h-[180px] @[850px]:min-h-[220px]"
                style='background-image: url("https://lh3.googleusercontent.com/aida-public/AB6AXuCgGFJEYyyp0g4OmNVHiP8WCZ5VSs04oKfOIK5W9-UMeONcwNCUBxKMPncB1HUMcPgUZw5aB-ZFWcT5oioJBUTT3nvFeg2p9vBxIDNAmUrWPaMbtyEvzDFiouHsTGaLa6H8fATMWLzvQ8rIjwEEVjl8-sX8WoE-k7oyijNy5VcCVX47PnnHniVDO4e3na3_TEKNhDoPH1FeyfOwrNy9TRqQ2rcu852K1bu0ncC0OSWUrFPLRIy74eDCNqil5GHOYyDKMrEc_ip4e_zo");'>
            </div>
        </div>
        </div>
</main>